doctype html
html
  head
    include tagmanagertop.js
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet' href='static/style.css')
    title= title
  body(class="novid")
    include tagmanagerbottom.js
    h1 Ho! Stop! Er ging iets fout.
    p
      | Deze pagina kon niet worden gevonden. Gebruik de link hieronder om
      | terug te keren.
      br
      a(href='/') Terug naar de Homepage.    
